html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.App {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100% !important;
  height: 100% !important;
  background-image: radial-gradient(#fffbfb, #e5dfdf);
}
